body, html {
    width: 500px;
    height: auto;
    margin: 0;
    padding: 5px;
    font-size: 1em;
}

.error {
    color: red;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 0.5em;
    height: 3em;
    width: auto;
}

.refresh {
    margin-left: 0.5em;
    height: 2em;
    width: auto;
}
